gp.bat export-ignore
.gitignore export-ignore
README.md export-ignore
LICENSE.md export-ignore
addons/input_manager/icon.png export-ignore
addons/input_manager/screenshots export-ignore
.gitattributes export-ignore
/assets export-ignore